<header class="main navbar-fixed-top">
  <div class="container">
  <nav class="navbar animated navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="{{HOME_PATH}}"><img src="{{ ASSET_PATH }}/images/reengo-logo.png" class="logo" alt="" title=""/></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      
        <ul class="nav nav-pills pull-right header-menu" id="access" role="navigation">
          <li><a class="extra" href="{{HOME_PATH}}"><span class="nav-title">Blog</span><span class="nav-sub-title">code review on life</span></a></li>
           <!--<li><a class="extra" href="{{ BASE_PATH }}{{ site.JB.archive_path }}"><span class="nav-title">Blog</span><span class="nav-sub-title">code review on life</span></a></li>-->
          <!-- <li><a class="extra" href="{{ BASE_PATH }}{{ site.JB.pages_path }}"><span class="nav-title">Pages</span><span class="nav-sub-title">niceties</span></a></li> -->
          <!--<li><a class="extra" href="{{ BASE_PATH }}{{ site.JB.categories_path }}"><span class="nav-title">Tutorials</span><span class="nav-sub-title">learn stuff</span></a></li>-->
          <!--<li><a class="extra" href="{{ BASE_PATH }}{{ site.JB.tags_path }}"><span class="nav-title">Tags</span><span class="nav-sub-title">tags</span></a></li>-->
          <!--<li><a class="extra" href="{{ BASE_PATH }}/pages/playground.html"><span class="nav-title">Playground</span><span class="nav-sub-title">Experiments</span></a></li>-->
          <li><a class="extra" href="{{ BASE_PATH }}/pages/about-us.html"><span class="nav-title">About</span><span class="nav-sub-title">Who's Responsible</span></a></li>
        </ul>
      </div>
  </nav>
  </div>
</header>