<!-- Leaderboard -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Leaderboard -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-6962763916721823"
     data-ad-slot="6956852344"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<ul id="postListing" class="posts">
  {% for post in site.posts %}
  {% if forloop.index != 1 %}
  <a href="{{ post.url }}">
    <li class="box">
    <!-- <li class="box" style="background-image:url({{ post.featured_image }});background-size:cover"> -->
		{% if post.featured_image %}
			<img class="animated fadeIn" src="{{ post.thumbnail }}">
		{% endif %}

		<div class="box-body">
			<h5 class="entrytitle"><a href="{{ post.url }}"><strong>{{ post.title }} </strong></a> </h5>
		
			<p>{{ post.content | strip_html | truncatewords: 10 }}</p>
		</div>
    </li>
  </a>
  {% endif %}
  {% endfor %}
  <li><button class="next btn btn-primary btn-block btn-lg">Load More Posts...</button></li>
</ul>
