<div id="post">
  <h1>{{ page.title }}</h1>
  <p class="meta">
    {{ page.date | date_to_long_string }} 
    {% if page.location %}{{ page.location }}{% endif %}
    <div class="ssk-group" data-url="{{BASE_PATH}}/{{page.url}}" data-media="{{page.featured_image}}" data-text="- http://reengo.com{{page.url}}">
        <a href="" class="ssk ssk-text ssk-facebook" >Share</a>
        <a href="" class="ssk ssk-text ssk-twitter" >Tweet</a>
        <a href="" class="ssk ssk-text ssk-google-plus">Post</a>
        <a href="" class="ssk ssk-text ssk-email">Email</a>
    </div>
  </p>
  {{ content }}
</div>

<br><br>

<!-- <div id="related">
  {% if site.related_posts %}
  <h3>Related Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div> -->

{% include JB/comments %}