<ul>
  <li>
{% assign hasSimilar = '' %}
{% for post in site.related_posts %}
    {% assign postHasSimilar = false %}
    {% for tag in post.tags %}
        {% for thisTag in page.tags %}
            {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
                {% if hasSimilar.size == 0 %}
                <h3>Related Posts</h3>
                <ul class="related-posts">
                {% endif %}
                <li class="box">
                    <a href="{{ site.url }}{{ post.url }}">
                      {% if post.featured_image %}
                        <img class="animated fadeIn img-responsive" src="{{ BASE_PATH }}/{{ post.featured_image }}">
                      {% endif %}
                    <h5 class="entrytitle"><strong>{{ post.title }} </strong></h5>
                    {% if post.series %}
                        (Series: {{ post.series }})
                    {% endif %}
                    </a>
                </li>
                {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                {% assign postHasSimilar = true %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% if hasSimilar.size > 0 %}
    </ul>
{% else %}
  <nav>
    {% for category in site.categories %}
        <details class="active-subnav">
          <summary>{{ category | first }}</summary>
          <ul>
              {% for posts in category %}
                {% for post in posts %}
                <li><a href="{{ post.url }}"><span>{{ post.title }}</span></a></li>
                {% endfor %}
              {% endfor %}  
          </ul>
      </details>          
    {% endfor %}
    </nav>
{% endif %}
</li>