<ul>
  <li class="list-header"><h3>Categories</h3></li>
  <li>
    <nav>
      {% for category in site.categories %}
          <details class="active-subnav" open>
            <summary>{{ category | first }}</summary>
            <ul>
                {% for posts in category %}
                  {% for post in posts %}
                  <li><a href="{{ post.url }}"><span>{{ post.title }}</span></a></li>
                  {% endfor %}
                {% endfor %}  
            </ul>
        </details>          
      {% endfor %}
      </nav>
    </li>

    <li class="list-header"><h3>Author</h3></li>

    <li class="contact">
      <img class="author-avatar img-circle img-responsive img-thumbnail" src="https://s.gravatar.com/avatar/d6be1682fed668f61587d2397b06a2df?s=100">
      <p>{{ site.author.name }}<p>
      <p>{{ site.tagline }}</p>
      <p><a href='mailto:{{ site.author.email }}'>{{ site.author.email }}</a></p>
    </p>
  </li>
  <li class="social">
    <p>
      <a href="http://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a><br />
      <a href="http://twitter.com/{{ site.author.twitter }}/">twitter.com/{{ site.author.twitter }}</a><br />
    </p>
  </li>
  <li class="rss">
    <a href="http://feeds.feedburner.com/{{ site.author.feedburner }}">
      <img src="{{ ASSET_PATH }}/images/rss.png" alt="Subscribe to RSS Feed" />
    </a>
  </li>
  <li id="related">
    <h2>Related Posts</h2>
    <ul class="posts">
      {% for post in site.related_posts limit:3 %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
</ul>