/* Header Styles  */

header.main{
	background: rgb(252,252,252); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmViZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,235,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(242,235,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(242,235,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(242,235,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(242,235,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(242,235,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f2ebea',GradientType=0 ); /* IE6-8 */
	border-bottom:3px solid #c6065c;
}	
	header.main h1{margin:30px 0 0 0}
	header.main img{border:none;}
	/*header.main li{border-right:1px solid #222}
	header.main li:nth-child(1){border-left:1px solid #222}	*/
	header.main nav li{list-style:none;}
	header.main nav li a{		
		padding:35px 8px 22px 8px;
		display:block;
		color:#ccc;
	}
	header.main nav li a:hover{
		text-decoration: none;
	}
	header.main nav li span.nav-title,
	header.main nav li span.nav-sub-title{
		font:bold 22px Arial, Helvetica, sans-serif;
		color:#c6065c;
		display:block;
	}
	header.main nav li span.nav-sub-title{
		font:normal 11px Arial, Helvetica, sans-serif;
		color:#333;
	}
	header.main nav li.active,
	header.main nav li a:hover{background:#c6065c;}	
	header.main nav li.active{
		border-left:1px solid #e2f846;
		border-right:1px solid #e2f846;	
	}
	header.main nav li.active a,
	header.main nav li.active span,	
	header.main nav li a:hover,
	header.main nav li a:hover span{color:#fff;}

/* Content */

/* General Content Styles  */
div.main{
	/*background:url(../images/bg-content.jpg) #000;*/
	padding:20px 0;
	color:#333;
	line-height:22px;	
}
	div.main a{	color:#c6065c;}
	div.main.home .content{
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
		border-right:1px solid #222;
	}

	/* sections default */
	div.main section{
		padding:10px;
		border-left:1px solid #999;
		border-top:1px solid #999;
		background:#ececec;
	}
	div.main section:hover {
		background:#cacaca;
	}
	div.main section.load-more{border-bottom:1px solid #999;}
	div.main section.load-more:hover{}
		div.main section.load-more{
			padding:20px;
			margin:0 auto;
			width:100%;
			display:block;
			text-align:center;
			color:#c6065c;
		}
		div.main section.active img{opacity:1;}
		div.main section.active figure{}
		div.main section.active figcaption{}
			div.main section.active figcaption p{}
			div.main section.active figcaption h3{}
		div.main section footer{}
			div.main section footer div.fb-like,
			div.main section footer nav,
			div.main section footer address,
			div.main section footer nav ul{display:inline;}
			div.main section footer div.fb-like img{border:0;}
	/*div.main section img{		
		opacity: 0.9;
		-moz-opacity: 0.9;
		filter:alpha(opacity=9);
	}*/
	div.main section.active img{
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=1);
	}
	div.main section nav.post-stats{text-align:right;}
		div.main section nav.post-stats li{display:inline-block;}
		div.main section nav.post-stats li.star{
			background:url(../images/star-sprite.png);
			height:21px;
			width:21px;
		}
			div.main section nav.post-stats li.star span{display:none;}
		
		div.main section nav.post-stats li a{
			font:normal 14px Arial, Helvetica, sans-serif;
			padding:3px 5px;
			border-radius: 5px;
		}
		
		div.main section nav.post-stats li.pings a{
			background:#c6065c;
			border:1px solid #2b1009;
			color:#fff;
		}
		div.main section nav.post-stats li.comments a{
			background:#2b1009;
			border:1px solid #2b1009;
			color:#fff;
		}
		div.main section footer div.fb-like{
			display:none;
		}

/* Homepage Welcome - Social Box */

div.main div.welcome h1{
	margin:5px 0;
	font:bold 24px Helvetica;
}

div.main div.home-chrome{
	margin-bottom:10px;
	padding:5px;
	border:1px solid #333;
	background:#ececec;
}


/*  Carousel Section */
section.carousel{
	background:#fce6d3;
	height:400px;
}
	section.carousel .carousel-button{
		position:absolute;
		top:40%;
		display:none; /* initally hidden */
	}
		section.carousel .carousel-button a{
			display:block;
			padding:10px;
			margin:5px;
			border:1px solid #333;
			background:#222;
			color:#fff;
			font:bold 12px Arial, Helvetica, sans-serif;
			opacity: 0.7;
			-moz-opacity: 0.7;
			filter:alpha(opacity=7);
		}
		section.carousel .carousel-button a:hover{
			background:#c6065c;
			border:1px solid #fff;
		}
	section.carousel .prev{left:0}
	section.carousel .next{right:0}
	section.carousel figure{
		margin:0px 10px;
		border:5px solid #333;
	}		
	section.carousel.active figure{border:5px solid #222;}
	section.carousel figcaption{
		margin:-64px 0 0 0;
		background:#2b1009;
		opacity: 0.8;
		-moz-opacity: 0.8;
		filter:alpha(opacity=8);
		padding:10px;
	}
	section.carousel.active figcaption{background:#000;}			
		section.carousel figcaption h3{
			font:bold 16px Arial, Helvetica, sans-serif;
			color:#fff;
			margin:0;
		}
		section.carousel.active figcaption h3{}
		section.carousel figcaption p{
			font:normal 12px Arial, Helvetica, sans-serif;
			color:#eee;
			margin:0;
			text-overflow: ellipsis; /* will make [...] at the end */
		    white-space: nowrap; /* paragraph to one line */
		    overflow:hidden;
		}
		section.carousel.active figcaption p{}			
		
	section.carousel footer{
		margin:0 15px;
		padding:2px 15px;
	}
		section.carousel footer span,
		section.carousel footer time,
		section.carousel footer address{}

/* Box Section */
section.box,
section.box.active{
	height:400px;
	overflow:hidden;
}
	section.box p{
		margin:0;
		overflow:hidden;
	}
	section.box.active p{margin:0;}
	section.box span.more{
		float:right;
	}
	section.box h3,
	section.box.active h3{
		font:bold 18px Arial, Helvetica, sans-serif;
		color:#fff;
		margin:5px 0;
		line-height:18px;
	}
	section.box.active h3{}
		section.box div span,
		section.box div time,
		section.box div address{display:inline;}
	
	section.box footer{		
		padding:5px 0;
		width:100%;
	}	
	section.box figure,
	section.box.active figure{
		width:100%;
		height:200px;
		overflow:hidden;
	}
	section.box footer div{	
		position:absolute;
		top:185px;
	}
	section.box div.fb-like{
		position:absolute;
		top:175px;	
		display:none;	
	}
	section.box div.like-convert{top:370px;}
	section.box div.details-convert{top:370px;}
	section.box div.video-thumbs{
		display:none;
	}
		section.box div.video-thumbs img{padding:5px;}
	section.box nav.post-stats{		
		position:absolute;
		top:365px;
		right:10px;
	}
/* Small Box Section */
section.small-box{height:200px;}
	section.small-box p{
		line-height:22px;
		margin:0;
		display:none;	
		width:200px;	
	}
	section.small-box.active p{width:200px;}
	section.small-box h3{
		font:bold 16px Arial, Helvetica, sans-serif;
		color:#fff;
		margin:5px 0;
		line-height:18px;
	}
	section.small-box nav.post-stats,
	section.small-box div.fb-like{
		position:absolute;
		top:165px;
	}
	section.small-box nav.post-stats{right:10px;}
	section.small-box div.fb-like{left:10px;}
	section.small-box div.video-thumbs{display:none;}
	section.small-box div.post-details{visibility:hidden;}
	section.small-box span.more{display:none;}

/* Skyscraper Section */
section.skyscraper{height:400px;}
	section.skyscraper h3{
		font:bold 16px Arial, Helvetica, sans-serif;
		color:#fff;
		margin:5px 0;
		line-height:22px;
	}


/* Listing Section */
div.main section.listing,
div.main section.listing.active,
div.main article.post section.load-more{	
	overflow:hidden;
	background:none;
	background:transparent;
	border:none;
	border-top:1px solid #cacaca;
	line-height:22px;
}	
div.main article.post section.load-more{
	border-bottom:2px solid #cacaca;
}
div.main article.post section.load-more:hover{
	background:#ececec;
}
	div.main section.listing:hover{
		background:#ececec;
	}
	section.listing p{
		margin:0 0 0 1em;
		overflow:hidden;
	}
	section.listing.active p{margin:0 0 0 1em;}
	section.listing span.more{display:none;}
	section.listing.active span.more{
		text-align:right;
		display:block;
	}
	section.listing h3,
	section.listing.active h3{
		font:bold 1.5em Arial, Helvetica, sans-serif;
		color:#fff;
		margin:5px 10px;
		line-height:18px;
	}
	section.listing.active h3{}
		section.listing div span,
		section.listing div time,
		section.listing div address{display:inline;}
	
	section.listing footer{		
		padding:20px 0 0 0;
		width:100%;
	}	
	section.listing figure,
	section.listing.active figure{overflow:hidden;}
	section.listing footer div{	
	}
	section.listing div.fb-like{display:none;}
	section.listing div.video-thumbs{width:100%;}
	section.listing nav.post-stats{right:0;}
	section.listing footer div{font:italic 11px verdana;}
	section.listing footer div a{color:#aaa;}

nav.post-carousel{
	list-style:none;
	margin:0 auto;
	text-align:center;
}
	nav.post-carousel ul li{
		display:inline-block;
		font:bold 20px Arial, Helvetica, sans-serif;
	}
/* Widgets Sidebar */

h3.widget-title{
	color:#c6065c;
}

/* Sidebar Styles  */

div.main aside.widget-area nav,
div.main aside.widget-area div.fb-panel{
	background:#000;
	border-right:5px solid #222;	
	border-bottom::5px solid #222;
	color:#fff;
	height:400px;
}
	div.main aside.widget-area ul {
		list-style: none;
	}
	div.main aside.widget-area div.fb-panel{
		background:#222;
	}
	aside.widget-area h2{
		font:bold 15px Arial, Helvetica, sans-serif;
		padding:5px 10px;
		margin:0;
		color:#fff;
	}
	aside.widget-area li.widget{
		margin:0;
	}
	aside.widget-area li.widget{
		background:#573615;
		list-style:none;
		border:5px solid #222;
		border-bottom:none;
		display:block;
		font:bold 12px Arial, Helvetica, sans-serif;
	}
	aside.widget-area li.widget ul{
		padding:5px 15px;
		color:#fff;
		display:block;
		font:bold 12px Arial, Helvetica, sans-serif;	
	}
		aside.widget-area li.widget ul{	
			margin:0;
			list-style:none;
		}
			aside.widget-area li.widget ul li{
				background:#54260d;
				border:none;
				border-bottom:none;
				border-top:none;
				text-indent:15px;
			}
			aside.widget-area li.widget ul li a{
				color:#fff;
				display:block;
				padding:3px 5px;
				font:normal 12px Arial, Helvetica, sans-serif;
			}
			aside.widget-area li.widget ul li a:hover{			
				color:#C6065C;
			}
		aside.widget-area li.widget.active-subnav{
			width:100%;
			background:#C6065C;
			border:1px solid #C6065C;
			border-bottom:2px solid #C6065C;
			border-top:none;
			margin-top:5px;
		}
			aside.widget-area li.widget.active-subnav a{
				color:#fff;
			}
	/*aside.widget-area li.widget_categories ul{
		margin:0;
	}
		aside.widget-area li.widget_categories ul li.cat-item{
			background:url(../images/icon-sprite.png) top left no-repeat;
			padding:0 0 0 25px;
		}
		aside.widget-area li.widget_categories ul li.cat-item{
			background-position:0 -110px;
		}
			aside.widget-area li.widget_categories ul li.cat-item:hover,
			aside.widget-area li.widget_categories ul li.cat-item.active{
				background-position:0 -88px;
			}*/

/* Single Post/Page Styles  */

div.main.single .content{
	background:transparent;
}
article.post{
	background:transparent;
	line-height:18px;
	padding-right:20px;
}
	div.main article.post section{
		padding:10px;
	}
	article.post header{
		padding:1em 0;
	}
	div.main article.post section header{
		padding:0;
	}
	article.post h1{
		color:#c6065c;
		font:bold 2em arial;
		margin:0;
	}
	article.post div.entry-content{
		margin-bottom:50px;
	} 
		article.post div.entry-content p{
			padding:0;
		}
	article.post div.post-details{
		margin:0 0 20px 0;
	}
	article.post footer.entry-meta{
		padding:1em 3em 1em 3em;
		font:italic 11px verdana;
	}
		article.post footer.entry-meta a{
			color:#aaa;
		}
div#author-info{
	border: 1px dotted #222;
	border-radius: 5px;
	padding: 1em 2em;
	margin: 2em 0;
	background: #ececec;
}
	div#author-info div#author-avatar{
		float:left;
		margin:0 1em 1em 0;
	}
		div#author-info div#author-avatar img{
			border-radius: 48px;
			border: 2px solid #333;
		}
	div#author-info div#author-description{
		padding-left:7em;
		font:normal 1em arial;
		line-height: 1.5em;		
		color:#333;
	}
		div#author-info div#author-description h2{
			font:bold 1em arial;
			color:#333;		
			margin:0;	
		}
div#comments{
	padding:10px;
}
	div#comments ol.commentlist{
		list-style: none;
		margin:0 0 0 50px;
	}
	div#comments h2{
		font:bold 20px arial;
		color:#fff;
		margin:20px;
	}
		div#comments article.comment{
			padding:10px;
			margin:10px 0;		
			border-radius:5px;
		}
		div#comments div.comment-author img{
			float:left;
			margin:0 1em 2em 0;
			border:2px solid #aaa;
			-webkit-box-shadow:0 5px 15px rgba(50, 50, 50, 0.75);
			-moz-box-shadow:0 5px 15px rgba(50, 50, 50, 0.75);
			box-shadow:0 5px 15px rgba(50, 50, 50, 0.75);
			background:#fff;
		}
		div#comments div.comment-author span.fn{
			font:bold 22px arial;
			margin:0 10px 0 0 ;
		}
		div#comments div.comment-author time{
			font:normal 12px arial;
		}
		div#comments div.comment-content{
			min-height:70px;
			background:#777;
			padding:5px 5px 1px 5em;
			margin:0.5em 0 0 1em;
			color:#000;
		}
div#respond{
	padding:2em 4em;
	float:left;
	width: 100%;
}
	div#respond h3#reply-title{
		margin:0;
		color:#333;
	}
		div#respond form input#author,
		div#respond form input#email,
		div#respond form input#url,
		div#respond form textarea{
			background:#ececec;
			color:#333;
			margin:0;
			border:1px dotted #cacaca;
		}
		div#respond form input#submit{display:none;}
	div#respond p.form-allowed-tags{
		color:#333;
		font:normal 11px arial;
	}
	div#respond p{margin:0}
	div#respond code{
		display:none;
	}
aside aside{ padding: 0 10px; }

ul.posts{
	padding: 0 !important;
	list-style: none !important;
}

.navbar{
	margin: 0;
	border: none;
}

/* Misc Styles */

pre{
	padding: 10px !important;
	margin: 10px 0 !important;
	border: 2px dashed #ccc;
	background: #ececec;
}
